<!DOCTYPE html>
<html>
<head>
    <title>NGO Transparency System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<body>

    <nav>
        <div class="logo">NGO Transparency</div>
        <a href="/dashboard">Dashboard</a>

        <div class="links">
            <a href="/">Home</a>
            <a href="/add">Add Donation</a>
            <a href="/verify">Verify</a>
        </div>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <div class="links">
    <a href="/">Home</a>
    <a href="/add">Add Donation</a>
    <a href="/verify">Verify</a>

    {% if session.get("admin") %}
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</a>
    {% else %}
        <a href="/login">Admin Login</a>
    {% endif %}
</div>


</body>
</html>
